.playArea {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.resolvescreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.link {
  padding: 10px 35px;
  border-radius: 10px;
  background-color: rgb(226, 167, 77);
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  border: none;
  height: 55px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.pubspace {
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: url(../../assets/images/dustin-belt-DCQilQQ_p7A-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.inebriationbox {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Kalam', cursive;
  padding: 1rem;
  border-radius: 15px;
}
.soundOn {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #000000;
  padding: 1rem;
  border-radius: 15px;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-position-x: 3px;
  background-image: url(../../assets/images/play_sound.svg);
}
.soundOff {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #000000;
  padding: 1rem;
  border-radius: 15px;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-position-x: 3px;
  background-image: url(../../assets/images/mute_sound.svg);
}
.soundOn:hover,
.soundOff:hover {
  cursor: pointer;
}
.alienhead {
  width: 50px;
  height: 54px;
  position: absolute;
  left: 302px;
  top: 192px;
}
.alienhead:hover {
  cursor: pointer;
  /* border: 2px solid rgba(26, 128, 26, 0.829); */
}
.alienwisdom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #7e5b5b4b;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(4);
}
.alienwisdom:hover {
  cursor: pointer;
}
img {
  width: 400px;
}
.beerbottle {
  width: 34px;
  height: 140px;
  position: absolute;
  left: 316px;
  bottom: 140px;
  /* background-color: rgba(0, 255, 255, 0.418); */
}
.beerbottle:hover {
  cursor: pointer;
  /* border: 2px solid rgba(26, 128, 26, 0.829); */
}

.drinkingdude {
  bottom: 0;
  left: 648px;
  /* right: 20px; */
  width: 300px;
  height: 470px;
  position: absolute;
  /* background-color: rgba(0, 255, 255, 0.418); */
}
.drinkingdude:hover {
  cursor: pointer;
  /* border: 2px solid rgba(26, 128, 26, 0.829); */
}
.drinkingduderesponse {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 60px;
  min-width: 200px;
  background-color: #ffffff;
  top: 140px;
  right: 280px;
  border-radius: 15px;
  font-size: 2rem;
  font-family: 'Kalam', cursive;
  padding: 0 1rem;
}

.dialogueArea {
  height: 140px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

p {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Kalam', cursive;
  margin-bottom: 0;
}
